name: FreeLRU

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      max-parallel: 2
      matrix:
        go: ["stable"]
    steps:
    - name: Set up Go ${{matrix.go}}
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
      with:
        go-version: ${{matrix.go}}
        check-latest: true
      id: go
    - name: Check out
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Linter
      run: |
          make lint

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      max-parallel: 2
      matrix:
        go: ["stable", "1.18.10"]
    steps:
    - name: Set up Go ${{matrix.go}}
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
      with:
        go-version: ${{matrix.go}}
        check-latest: true
      id: go
    - name: Check out
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Run Test
      run: |
          make check

  bench:
    name: Bench
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      max-parallel: 2
      matrix:
        go: ["stable"]
    steps:
      - name: Set up Go ${{matrix.go}}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{matrix.go}}
          check-latest: true
        id: go
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Run Benchmarks
        run: |
          GOMAXPROCS=100 make bench

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      max-parallel: 2
      matrix:
        go: ["stable"]
    permissions:
      contents: write
    steps:
      - name: Set up Go ${{matrix.go}}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{matrix.go}}
          check-latest: true
        id: go
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.head_ref }}
      - name: Build
        run: |
          go install
      - name: Run Coverage
        run: |
          go test -v -cover ./... -coverprofile coverage.out -coverpkg ./...

      - name: Report Coveralls
        run: curl -sL https://coveralls.io/coveralls-linux.tar.gz | tar -xz && ./coveralls report coverage.out --format=golang
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
